{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <!-- Example Container -->
    <div class="w3-container w3-padding-64" id="team">
        <h2 class="w3-center">pms-nz/object-translation-bundle example</h2>

    </div>
{% endblock %}
